.App {
  background-color: #dadbdb;
  /*background-image: url('../images/heart1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1000%;
  height: auto;
  background-size: 700px;*/


  /*image-rendering*/
  /*background-color: #e74c3c;*/

  width: 100vw;
  height: 100vh;

  /*font-family: poppins-regular;*/
  font-family: 'Poppins', sans-serif;
}




/* ======================
+
+  Authentication form
+
=======================*/
.sign-in, .sign-up{
  width: 100%;
  height: 100%;
  color:  white;
  background-color: #ffe8a9;
}

@media (max-width: 1075px) {
  .item {
    width: 300px !important;
  }
}


.logo{
  mix-blend-mode: multiply;
}